<div class="row">
  <aside class="col-md-4">
    <%= render 'shared/user_profile' if current_user != nil %>
  </aside>
  <div class="col-md-8">
    <button> <%= link_to "WORDS", controller: "words", action: "index" %> </button>
    <button> LESSONS </button>
  </div>
</div>