<div class="row">
  <aside class="col-md-4">
    <%= render 'shared/user_profile' if current_user != nil %>
  </aside>
  <div class="col-md-8">
    <%= link_to words_path do %>
    	<button>WORDS</button>
    <% end %>
    <button> LESSONS </button>
  </div>
</div>