

<div class="row">
  <aside class="col-md-3">
    <%= render 'shared/user_profile' if current_user != nil %>
  </aside>
  
  <div class="col-md-9">
    <% @categories.each do |category| %>
      <div class="card">

    
      <div class= "row">
        <div class="col-md-6">
            <div class="category-name"> <%= category.name %> </div> 
            <div class="category-words-container"> 
              <% category.words.all.each do |word| %>
                <span class="category-word"> <%= word.content  %> </span>

              <% end %> 
            </div>
            <%= link_to "Create Lesson", user_lessons_path(current_user, :category_id => category.id),method: :post, class: "btn" %>
        </div>


        <div class="col-md-6">
          
        </div>

      </div>



      </div>
    <% end %>
  </div>

</div>